body{
  background-color: #282828;
}
.title{
  font-size: 30px;
  text-align: center;
  font-family: Apple Chancery, cursive;
  color: white;
}

.title h1{
  margin: 0 auto;
}


p {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.instructions{
  margin: 0 auto;
  width: 1200px;
  background-color: lightblue;

}

.instructions p{
  font-size: 20px;
  font-family: sans-serif;

}

button{
  cursor: pointer;
}
.canvas-container{
  margin: 0 auto;
  width: 1200px;
  background-color: lightblue;
}

i{
  cursor: pointer;
  padding: 5px;
}

button,i{
  border-radius: 5px;
  color: black;
}

button:hover, i:hover{
  color: white;
  background-color: black;
}

.buttons{
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  height: 0px;
}

.buttons-instructions{
  display: flex;
  justify-content: space-between;
}

#volume{
  width: 32px;
  z-index: 50;
  position:absolute;
  top:110px;
}

.game-buttons{
  position: relative;
  width: 130px;
  z-index: 50;
  top: -595px;
}
