
p {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.instructions{
  margin: 0 auto;
  width: 1000px;
  background-color: azure;

}

.instructions p{
  font-size: 20px;
}

button{
  cursor: pointer;
}
.canvas-container{
  margin: 0 auto;
  width: 1000px;
}

i{
  cursor: pointer;
  padding: 5px;
}

i.fa.fa-volume-off{
  padding-left: 8px;
  padding-right: 8px;
}


button,i{
  border-radius: 5px;
  color: black;
}

button:hover, i:hover{
  color: white;
  background-color: black;
}

.buttons{
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.buttons-instructions{
  display: flex;
  justify-content: space-between;
}
