.title{
  font-size: 30px;
  text-align: center;
  font-family: Apple Chancery, cursive;
}

.title h1{
  margin: 0 auto;
}


p {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.instructions{
  margin: 0 auto;
  width: 1500px;
  background-color: lightblue;

}

.instructions p{
  font-size: 20px;
}

button{
  cursor: pointer;
}
.canvas-container{
  margin: 0 auto;
  width: 1500px;
  background-color: lightblue;
}

i{
  cursor: pointer;
  padding: 5px;
}

i.fa.fa-volume-off{
  /* padding-left: 8px;
  padding-right: 8px; */
}


button,i{
  border-radius: 5px;
  color: black;
}

button:hover, i:hover{
  color: white;
  background-color: black;
}

.buttons{
  margin: 0 auto;
  width: 1500px;
  display: flex;
  justify-content: space-between;
}

.buttons-instructions{
  display: flex;
  justify-content: space-between;
}

#volume{
  width: 32px;
}
